body,html{
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

.video,.divider,.chat{
  background: #9147ff;
  height: 100vh;
}

.video,.chat{
  border: none;
}

.video{
  width: 80%;
}

.divider{
  cursor: col-resize;
  width: 0.2%;
}

.chat{
  width: 20%;
}